@import url('https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&display=swap');

* {
	margin: 0;
	padding: 0;
	background-image: url("../img/DSC06623-7.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;

}

h1 {
	padding: 45px;
	color: #fff;
	display: block;
	text-align: center;
	font-weight: 400;
	font-size: 60px;
	font-family: 'Liu Jian Mao Cao', cursive;
	cursor: pointer;
}

footer {
	text-align: center;
	color: #ffffff;
	font-size: 10px;
	display: flex;
	flex-direction: column;
	margin: 2px;
	padding: 4px;
}


ul {
	width: 100%;
	list-style-type: none;
}

li {
	max-width: 100%;
	margin: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

a {
	font-family: "Courier";
	text-align: center;
	color: #fff;
	margin: 20px;
	text-decoration: none;
	font-size: 25px;
}

a:hover {
	color: #244682;
}

@media only screen and (max-width: 768px) {
	* {
		background-image: url("../img/DSC06623-6.jpg");
		background-size: 100% auto;
	}
}


